include base

+base
  div(id="climate-call" lang=language)
  script(src="https://spela.kortspeletklimatkoll.se/bundle.js")
  link(rel="stylesheet" href="https://spela.kortspeletklimatkoll.se/styles.css")
