mixin container
  div(style="display: flex; height: 100vh; width: 100%;")
    block

mixin content
  div(style="background: #ccc; flex-grow: 1;")
    block

mixin link(url, label)
  div
    a(href=url)= label

mixin sidebar
  div(style="width: 20rem;")
    +link("/languages", "Languages")
    +link("/upload", "Upload cards")
    +link("/cards", "Cards")

mixin base
  html(lang="en")
    head
      title Klimatkoll Digital Card Database
    body(style="margin: 0; padding: 0;")
      +container
        +sidebar
        +content
          block
