include base
include layout-card

mixin card-image(card)
  div
    a(href="/card/"+card.name)
      img(src=card.image style="max-width: 20rem;")

+base
  +layoutCard("Cards")
    each card in cards
      +card-image(card)
