mixin link(url, label)
  div
    a(href=url)= label

mixin navigation
  div
    +link("/languages", "Manage languages")
    +link("/upload", "Upload card images")
    +link("/pair-images", "Pair front and back images")
    +link("/cards", "Edit cards")
