include base
include card

mixin card-image(src, inputName)
  label
    input(type="radio" name=inputName value=src style="position: fixed; width: 0; height: 0; opacity: 0;")
    img(src=src style="max-width: 20rem; margin: 0.5rem;")

mixin image-list(images, inputName)
  div(style="overflow: scroll; max-height: 33rem;")
    each image in images
      +card-image(image, inputName)

+base
  style= "[type=radio]:checked + img { outline: 2px solid red; }"
  +card("Match front and back of card images")
    p Front does not show emissions, back shows emissions
  +card("Front")
    +image-list(images, "front")
  +card("Back")
    +image-list(images, "back")
  div(style="position: fixed; bottom: 0; width: 100%; background: white; text-align: center; left: 0;")
    button(style="width: 100%;") Create card
