include base
include layout-card 

+base
  +layoutCard("Upload cards")
    form(action="/upload" method="post" enctype="multipart/form-data")
      input(name="cards" type="file" style="display: block")
      br
      button Submit
