include base
include card

+base
  +card("Upload cards")
    form(action="/upload" method="post" enctype="multipart/form-data")
      input(name="cards" type="file" style="display: block")
      br
      button Submit
