include base
include layout-card 

+base
  +layoutCard("Upload cards")
    p Upload a ZIP file with card images in PNG format
    form(action="/admin/upload" method="post" enctype="multipart/form-data")
      input(name="cards" type="file" style="display: block")
      br
      button Submit
